@use 'units/color';
@use 'units/fonts';


*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body{
  background-color:color.$bigDark;
  scroll-behavior: smooth;
}

h1,h2,h3{
  line-height: 2rem;
  margin: 1.5rem 0;
  font-family: fonts.$googleFont;
  font-size: 2rem;
}
p,li{
  font-size: 1rem;
  line-height: 1.5rem;
  color: color.$bigWhite;
  font-family: fonts.$googleFont;
}
li{
  margin-bottom: .8rem;
}
.line{
  width: 95%;
  height: 90%;
  margin:0 auto;
  display: flex;
  place-items: center;
}
.lineWhite{
  border: 2px solid color.$bigWhite;
  border-right: none;
  border-left: none;
}
.lineBlack{
  border: 2px solid color.$bigDark;
  border-right: none;
  border-left: none;
}

//  SECTION ONE =>
.bg-dark{
  padding: 0 2rem;

  h1,h2,h3{
    color: color.$bigWhite;
  }
  p{
  color: color.$bigWhite;

  }
  display: flex;
  width: 100%;

  place-items: center;
}
.fullPage{
  height: 100%;
}

.homePage{
  margin: auto;
  max-width: 60rem;
  max-width: 40rem;
  margin: 0 auto;
}

// SECTION TWO =>
.bg-white{
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  background-color: color.$bigWhite;
  display: flex;
  place-items: center;
} 
.bill_gates{
  max-width: 30rem;
  max-height: 30rem;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  img{
    max-width: 80%;
    margin: 0 auto;
  }
  h2{
    max-width: 80%;
    margin: 0% auto;
    font-size: 1.2rem;
    line-height: 1.1;
  }
}


//SECTION THREE
.bg-page{
  padding: 0 4rem;
  min-height: 100%;
 flex-direction: column;
 justify-content: space-around;
 .line{
   width: 100%;
   height: 2px;
   background-color: color.$bigWhite;
   margin: 2rem 0;
 }
 .line-bottom{
   margin-bottom: 2rem;
 }
}
.quotesPage{
    padding-left: .8rem;
.Quotes{
  word-wrap: break-word;
  padding-left: 1rem;
  display: flex;
  flex-direction:column;
  max-width: 80rem;
  margin: 0 auto;
  ul{
    list-style: none;
    color:color.$bigWhite;
    margin: 1rem 0;
  }
  li{
    border-left: 2px solid color.$bigWhite;
    margin: 1.5rem 0;
    display: flex;
    font-family: fonts.$google;
  }

  .Side_Line{
    margin-right: .5rem;
}
}
}