*,html{
	margin: none;
	padding: none;
	background-color: #343a40;
}
body{
	overflow: hidden;
}
#Home{
	width: 100%;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	place-items: center;
}
#homePage{
	display: flex;
	max-width: 50rem;
	height: 90%;
	place-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid red;
}
#homepage h2{
	font-size: 5rem;
}